In [3]:
import numpy as np
import pandas as pd
import scipy
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.manifold import TSNE
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from scipy.spatial.distance import cdist
from wordcloud import WordCloud,STOPWORDS
from sklearn import preprocessing


%matplotlib inline

In [5]:
df = pd.read_excel("/home/galvez/Desktop/horta/horta2/Teste Prаtico 02 - Data Science.xlsx")
df.head()

,CÓDIGO PRODUTO,SKU,Volume (ton),Data,Ano Ajustado YTD,Hierarquia,Descrição Produto,Go To Market
0,12345724,12345724-15,0.0,2019-05-01,2019,Hierarquia 5,Produto 47,Go To Market 1
1,12345726,12345726-238,0.0,2019-05-01,2019,Hierarquia 1,Produto 49,Go To Market 1
2,12345727,12345727-158,0.0,2019-12-01,2019,Hierarquia 1,Produto 50,Go To Market 1
3,12345738,12345738-158,0.0,2019-12-01,2019,Hierarquia 1,Produto 61,Go To Market 1
4,12345724,12345724-15,0.0,2019-12-01,2019,Hierarquia 5,Produto 47,Go To Market 1

In [6]:
df2 = df.copy()

In [7]:
df2.isnull().sum()

CÓDIGO PRODUTO          0
SKU                  1560
Volume (ton)            0
Data                    0
Ano Ajustado YTD        0
Hierarquia              0
Descrição Produto       0
Go To Market            0
dtype: int64

In [9]:
df2.shape

(161520, 8)

In [10]:
df2['Descrição Produto'].describe()

count          161520
unique           1799
top       Produto 210
freq             4983
Name: Descrição Produto, dtype: object

In [13]:
X = df2['Descrição Produto'].value_counts()

In [17]:
df2 = df[['Data', 'Descrição Produto']]

In [18]:
df2

             Data Descrição Produto
0      2019-05-01        Produto 47
1      2019-05-01        Produto 49
2      2019-12-01        Produto 50
3      2019-12-01        Produto 61
4      2019-12-01        Produto 47
...           ...               ...
161515 2021-05-01       Produto 751
161516 2021-05-01       Produto 751
161517 2021-05-01       Produto 752
161518 2021-05-01       Produto 378
161519 2021-05-01      Produto 1695

[161520 rows x 2 columns]

In [19]:
y_train = df2["Descrição Produto"]
X_train = df2["Data"]

In [23]:
total = df.isnull().sum(axis=0).sort_values(ascending=False)
percent = ((df.isnull().sum(axis=0)/df.isnull().count(axis=0))*100).sort_values(ascending=False)

# count the number of null values in the column and their perecentage of the total data
missing_data_columns = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data_columns

                   Total   Percent
SKU                 1560  0.965825
Go To Market           0  0.000000
Descrição Produto      0  0.000000
Hierarquia             0  0.000000
Ano Ajustado YTD       0  0.000000
Data                   0  0.000000
Volume (ton)           0  0.000000
CÓDIGO PRODUTO         0  0.000000

In [24]:
df['Date']=pd.to_datetime(df['Data'])

In [26]:
df3 = df.groupby('Data')['Descrição Produto'].sum().reset_index()

In [27]:
df3 = df.set_index('Data')
df3.index

DatetimeIndex(['2019-05-01', '2019-05-01', '2019-12-01', '2019-12-01',
               '2019-12-01', '2019-12-01', '2019-11-01', '2019-12-01',
               '2020-04-01', '2020-04-01',
               ...
               '2021-05-01', '2021-05-01', '2021-05-01', '2021-05-01',
               '2021-05-01', '2021-05-01', '2021-05-01', '2021-05-01',
               '2021-05-01', '2021-05-01'],
              dtype='datetime64[ns]', name='Data', length=161520, freq=None)

In [51]:
df3.head()

,CÓDIGO PRODUTO,SKU,Volume (ton),Ano Ajustado YTD,Hierarquia,Descrição Produto,Go To Market,Date,y
Data,,,,,,,,,
2019-05-01,12345724,12345724-15,0.0,2019,Hierarquia 5,Produto 47,Go To Market 1,2019-05-01,1
2019-05-01,12345726,12345726-238,0.0,2019,Hierarquia 1,Produto 49,Go To Market 1,2019-05-01,1
2019-12-01,12345727,12345727-158,0.0,2019,Hierarquia 1,Produto 50,Go To Market 1,2019-12-01,1
2019-12-01,12345738,12345738-158,0.0,2019,Hierarquia 1,Produto 61,Go To Market 1,2019-12-01,1
2019-12-01,12345724,12345724-15,0.0,2019,Hierarquia 5,Produto 47,Go To Market 1,2019-12-01,1

In [52]:
df3['y'] = 1

In [67]:
df4 = df3.groupby(['Data', 'Descrição Produto']).transform(['y'].sum())

AttributeError: 'list' object has no attribute 'sum'

In [61]:
df4

Data        Descrição Produto
2019-03-01  Produto 1            25
            Produto 10           25
            Produto 1001          1
            Produto 1002          1
            Produto 1003          3
                                 ..
2021-05-01  Produto 995          14
            Produto 996          16
            Produto 997           4
            Produto 998           4
            Produto 999           4
Name: y, Length: 17769, dtype: int64

In [ ]:
data = data.groupby('Date')['Weekly_Sales'].sum().reset_index()